[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print safely
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set z_lift = 10 %}
    {% set max_z = printer.toolhead.axis_maximum.z %}
    {% set cur_z = printer.toolhead.position.z %}
    {% set lift = z_lift if cur_z + z_lift < max_z else max_z - cur_z %}

    M400                          ; wait for buffer to clear
    G92 E0
    G1 E-2.0 F1800                ; retract filament
    G91
    G1 Z{lift} F600               ; lift Z safely
    G90

    G1 X5 Y{printer.toolhead.axis_maximum.y * 0.8} F12000 ; park head front-left

    M104 S0                       ; turn off hotend
    M140 S0                       ; turn off bed
    M107                          ; fan off

    M84 X Y E                     ; disable motors (keep Z locked)

    CANCEL_PRINT_BASE

[gcode_macro UNLOAD_FILAMENT]
description: Unloads Filament from extruder
gcode:
  {% if printer.extruder.temperature < 180 %}
    {action_respond_info("Extruder temperature too low")}
  {% else %}
    SAVE_GCODE_STATE NAME=UNLOAD_state
    {% set z_lift = params.z_lift|default(50)|int %}
    {% set axis_max = printer.toolhead.axis_maximum %}
    {% set pos = printer.toolhead.position %}
 
    {% set z_diff = axis_max.z - pos.z %}
    {% set z_safe_lift = [ z_lift, z_diff ] | min%}
 
    G91                   # relative positioning
    G0 Z{ z_safe_lift }
    # Reset extruder position
    G92 E0
    G1 E5.0 F300        # extrude a little
    G1 E-300 F{ 10 * 60 } # perform the unload
    G1 E-300 F{ 5 * 60 }   # finish the unload
    RESTORE_GCODE_STATE NAME=UNLOAD_state
  {% endif %}


[gcode_macro LOAD_FILAMENT]
description: Loads filament into the extruder
gcode:
  {% if printer.extruder.temperature < 180 %}
    {action_respond_info("Extruder temperature too low")}
  {% else %}
    SAVE_GCODE_STATE NAME=LOAD_state
    G91                   # Relative coords
    G1 E300 F{ 5 * 60 }  # extrude
    G4 P{ 0.9 * 1000 }    # dwell (ms)
    G1 E25.0 F{ 5 * 60 }  # extrude a little more
    _ENABLE_FS
    RESTORE_GCODE_STATE NAME=LOAD_state
  {% endif %}


[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60
  TURN_OFF_HEATERS
  SAVE_CONFIG